@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movie";

}

<div class="row">
    @*<div class="col-md-8 ">
        <table class="table ">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Discription)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ImageUrl" alt="@item.Name" style="max-width:150px" />
                        </td>
                        <td class="align-middle" style="width:auto">
                            @Html.DisplayFor(x => item.Name)
                        </td>
                        <td class="align-middle" style="width:auto">
                            @Html.DisplayFor(x => item.Discription)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>*@


    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xl-6 border-primary mb-3">
            <div class="card mb-3"style="max-width:540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Movie Name
                                    <a class="text-white float-right">Edit</a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="" width="100%" alt="" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">Description</p>
                            <p class="card-text"><b>Cinema: </b>Name cinema sample</p>
                            <p class="card-text"><b>Category: </b>category sample</p>
                            <p class="card-text"><b>Start Date: </b>start date sample</p>
                            <p class="card-text"><b>End Date: </b>end date sample</p>
                            <p class="card-text">
                                <b>Status: </b>
                                Status sample
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right">show detail</a>
                                <a class="btn btn-success text-white">Add to cart</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>