@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movie";

}

<div class="row">
    <div class="col-md-8 ">
        <table class="table ">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Discription)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ImageUrl" alt="@item.Name" style="max-width:150px" />
                        </td>
                        <td class="align-middle" style="width:auto">
                            @Html.DisplayFor(x => item.Name)
                        </td>
                        <td class="align-middle" style="width:auto">
                            @Html.DisplayFor(x => item.Discription)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>